{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "react/jsx-filename-extension": "off",
        "import/no-extraneous-dependencies": "off",
        "jsx-quotes": "off",
        "no-console": ["error", { "allow": ["warn", "error", "info"]}],
        "linebreak-style": "off",
        "no-case-declarations": "off"
    }
}