.profileInfo td {
    padding-left: 15px !important;
}

.profileInfo td:nth-child(3) {
    padding-left: 45px !important;
}

.contact td {
    padding-left: 15px !important;
}

.contact td:nth-child(2) {
    padding-left: 45px !important;
}